* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:link {
  text-decoration: none;
  color: rgb(86, 83, 83);
}

a:hover {
  color: rgb(86, 83, 83);
}

a:visited {
  color: rgb(86, 83, 83);
}

.title h1 {
  color: #D6970A;
  font-family: 'Abril Fatface', cursive;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.filterContainer {
  margin: 20px;
}

.filterButtons {
  width: 100px;
  border: none;
  border-radius: 20px;
  color: white;
  padding: 5px;
  margin: 10px;
  background-color: pink;


  font-family: 'Abril Fatface', cursive;
}

.filterButtons:hover {
  background-color: #D6970A;
}

.cardHeight {
  height: 200px;
}

img {
  border: 2px solid #D6970A;
}

/* .menuItems {} */
.itemNprice {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: 'Abril Fatface', cursive;
}

.price {
  font-size: 18px;
}

.faqs {
  margin: 10px;
  padding: 20px;
}

.faqContainer {
  border-radius: 5px;
  box-shadow: 5px 5px 20px 5px grey;
  padding: 50px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.questionButton {
  min-width: 50px;
  min-height: 50px;
  max-height: 50px;
  border-radius: 50%;
  border: none;
  background-color: pink;
  color: white;
  font-size: 38px;
  font-weight: 700;
  font-family: 'Abril Fatface', cursive;
  display: flex;
  align-items: center;
  justify-content: center;
}

.questionButton:hover {
  background-color: #D6970A
}

.questionHeader {
  padding: 10px;
  border: 2px solid #D6970A;
  /* border-top-right-radius: 10px;
  border-top-left-radius: 10px; */
  box-shadow: 5px 20px 20px -10px grey;
}

.questionHeader h4 {
  height: 100%;
  display: flex;
  align-items: center;
}

.answer {
  border: 2px solid gray;
  border-top: none;
  padding: 30px;
}